@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #333333;
}

body {
  background-color: #fff;
  font-family: "Space Mono";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
  border-radius: 8px;
}

header {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  margin: 1.2rem 0 4rem 1.5rem;
}

header,
button {
  text-transform: uppercase;
}

.container .img-div img {
  display: block;
  width: 77%;
  margin: auto;
  max-width: 539px;
}

.content {
  margin: 3.75rem 1px 1.875rem 1.5rem;
}

.content h1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  max-width: 586px;
}

.content p {
  margin: 1.875rem 0 4.125rem 0;
  color: #4f4f4f;
  font-family: "Space Mono";
  font-size: 1.125rem;
  line-height: 27px;
  letter-spacing: -0.035em;
  max-width: 381px;
}

button {
  background-color: #333333;
  border: none;
  font-family: "Space Mono";
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5rem 2.6rem;
  margin-bottom: 7rem;
  cursor: pointer;
  transform: scale(0.98);
}

footer {
  font-family: "Montserrat";
  color: #bdbdbd;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 850px) {
  body {
    height: 100vh;
  }
  header {
    margin-left: 77px;
    margin-top: 40px;
  }
  .container .img-div img {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
  }
}
